{% extends 'base.html' %}
{% block loader %} {% include 'loader.html' %} {% endblock loader %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block carousel %} {% include 'carousel.html' %} {% endblock carousel %}
{% block content %}

<div class="container-fluid">
    <div class="row mt-5 mb-5">
        {% for item in  fdog %}
            <div class="col-12 col-md-3 mt-3">
                <div class="card text-bg-dark fcat">
                    <a href="{% url 'category' item.id item.slug %}">
                        <img src="{{item.img.url}}" class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-capitalize bg-black text-center text-white">{{item.name}}</h5>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



<div class="container">
    <h1 class="title">featured products</h1>
    <div class="row my-5 fprod_cont">
        {% for prod in feat %}
            <div class="col-12 col-md-4 mt-5 fprod">
                <div class="card">
                    <a href="{% url 'detail' prod.id prod.slug %}">
                        <img src="{{prod.pix.url}}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="card-title">{{prod.name|title}}</h5>
                                <p class="card-text">{{prod.category|title}}</p>
                            </div>
                            <div class="col-4">
                                <h5 class="card-title float-end">₦{{prod.price}}</h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
            
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}